body {
  background-color :#f5f3eb;
  margin :0px 0px 0px 0px;
  padding :0px 0px 0px 0px;
}

.wrapper {
  margin :0 auto;
  width :900px;
}

h2 {
  color :#442220;
  font-size :18px;
  border-bottom :2px #442220 dotted;
  margin :20px 0px 20px 0px;
  padding :10px 10px 10px 10px;
}

p {
  line-height :160%;
}

a:link {
  color :#6aa4d6;
}

a:visited {
  color :#6aa4d6;
}

a:hover {
  color :#4f7697;
}

a:active {
  color :#aed3f2;
}

h1 {
  margin :30px 0px 30px 0px;
  padding :0px 0px 0px 0px;
  line-height :0;
  text-align :center;
}

img {
  border-style :none;
}

#navi li {
  display :inline;
  list-style-type :none;
  padding-right :30px;
}

#navi {
  margin :0px 0px 0px 0px;
  padding :15px 30px 10px 30px;
  background-image :url(images/menu-bg.png);
}

#navi li a:link {
  color :#f5f3eb;
  text-decoration :none;
}

#navi li a:visited {
  color :#f5f3eb;
}

#navi li a:hover {
  color :#e4dbb9;
}

#navi li a:active {
  color :#ffffff;
}

#footer {
  background-image :url(images/footer-bg.png);
  background-repeat :repeat-x;
  margin-top :30px;
  padding :20px 0px 20px 0px;
  font-size :smaller;
  color :#442220;
}
/*個別のスタイル*/
/* index.html */
.keyvisual {
  margin :20px 0px 0px 0px;
}

.news_item {
  margin :0px 0px 0px 0px;
}

/* about.html */
.float img {
  float :left;
  padding-right :lem;
}

.clear {
  clear :both;
}

table.info {
  border-collapse :collapse;
  border :1px solid #b78c5f;
}

table.info th, table.info td {
  padding :8px 8px 8px 8px;
  border :1px solid #d6c2b5;
  text-align :left;
  vertical-align:middle;
}

table.info th {
  background-color :#c99e73;
  color :#442220;
}

/* menu.html*/
.menu_block {
  overflow :hidden;
  zoom :1;
}

.menu_left {
  float :left;
  width :280px;
  margin-right :20px;
}

.menu_right {
  float :left;
  width :600px;
}

table.menu_all {
  border :none;
  border-collapse:collapse;
}

table.menu_all td {
  padding :0px;
}

table.menu_all td.photo {
  padding :0px 10px 10px 0px;
}

.menu_right h3 {
  margin :20px 0px;
  text-align :right;
  font-size :16px;
  color :#442220;
}

.menu_right p {
  text-align :right;
  font-size :12px;
}

/* access */

div.map {
  text-align :center;
}

/* contact.html */

from div {
  padding :12px;
  border-bottom :1px dashed #d6c2b5;
}

select {
  width :30em;
}

label {
  color :#442220;
}

input [name=sbject] {
  width :30em;
}

textarea {
  width :30em;
  height :6em;
}

input [type=submit] {
  margin :20px 12px;
  width :30em;
}
